.chat-main
 .chat-main__bar
  .chat-main__bar-left
   .group-title
    =@group.name
   .user
    -@group.users.each do |user|
     =user.name
  .chat-main__bar-EDIT
   .edit
   = link_to edit_group_path(@group), class: "chat_main_icon__btn" do
    EDIT
 .chat-main__message-list
  = render @messages
  
 .message-form
  .chat-main__message-form
   = form_for [@group, @message], html: {class: "form"} do |f|
    = f.text_field :content, class:"type-a-message", placeholder: "type a message"
    .image-btn
     = f.label :image, class: "input-btn" do
      = icon('fas', 'image')
      = f.file_field :image
    = f.submit "send", class: "send-btn"

  -#  = link_to "#", class: "message_send__btn" do
    -# send
